<% include partials/header%>

    <!------- ----- MAIN ----- ----- -->
    <div class="container" >
      <div class="main bg-light">
        <div id="mySidenav" class="sidenav">
          <a
            onclick="sele1()"
            class="animated slideInRight"
            href="#"
            id="about" >Employment</a
          >
          <a
            onclick="sele2()"
            class="animated slideInRight"
            href="#"
            id="blog" >Skills</a
          >
          <a 
            onclick="sele3()" 
            class="animated slideInRight" 
            href="#"
            id="projects" >Education</a>
          <a 
            onclick="sele4()" 
            class="animated slideInRight" 
            href="#"
            id="contact" >Contact Me</a>
        </div>
        <div class="container" >
          <div id="pages">
            <div class="info2 col-sm-12 " id="d1">
              <h2 class="title" >Employment</h2>

              <!--the bean Doctor -->

              <a href="http://www.thebeandoctor.com/" target="_blank"><h4 class="emp">The Bean Doctor</h4></a> 
              <h5> <strong>Date:</strong> From: 06/2018 to: Present</h5>
              <h5> <strong>Supervisor</strong> Chris Hansom (owner)</h5>
              <h5> <strong>Phone:</strong> 866-890-6847</h5>
              <h5>--- Duties ---</h5>
              <p> 
                <ul>
                  <li>Responsible of opening the building and disarming the alarm</li>
                  <li>Use meters and other  tools to troubleshoot and repair equipment</li>
                  <li>Ensure all paperwork is filled out properly and data Entry to the system of service ticket</li>
                  <li>Responsible for all the parts and to keep good control of inventory in the truck</li>
                  <li>Pasts Request as I need it</li>
                  <li>Responsible for installing and repairing all kinds of coffee equipment.  </li>
                </ul>
              </p>
              <hr>

              <!--4M building -->

              <a href="http://www.thebeandoctor.com/" target="_blank"><h4 class="emp">4M Building Solutions</h4></a>
              <h5> <strong>Date:</strong> From: 09/2016 to: 05/2018</h5>
              <h5> <strong>Supervisor</strong> Jhon Godson</h5>
              <h5> <strong>Phone:</strong> 314-535-2100</h5>
              <h5>--- Duties ---</h5>
              <p> 
                <ul>
                  <li>Establishing and implementing 4M operations standards</li>
                  <li>Promote and maintain a safe work environment</li>
                  <li>Planning and preparing Team members work schedules</li>
                  <li>Take the lead in problem solving building situations during the work shift.</li>
                  <li>Tour the facility on a regular basis and complete building checklist</li>
                  <li>Ordering of cleaning materials</li>
                  <li>Ensuring all staff are aware of the Health and Safety policies and procedures</li>
                </ul>
              </p>
              <hr>
              
              <!--Self Employed -->

              <a href="#" ><h4 class="emp">Self Employed</h4></a>
              <h5> <strong>Date:</strong> From: 04/2015 to: 08/2016</h5>
              <h5> <strong>Supervisor</strong> </h5>
              <h5> <strong>Phone:</strong> 314-226-7701</h5>
              <h5>--- Duties ---</h5>
              <p> 
                <ul>
                  <li>Bathroom/Kitchen repairs</li>
                  <li>Flooring Repair and Tile & Flooring Installation</li>
                  <li>General Home Repairs and Maintenance Work</li>
                  <li>Minor Plumbing Work</li>
                  <li>Drywall Patching & Replacement</li>
                  <li>Electrical Switches, Outlets, Light Fixtures, Fans</li>
                </ul>
              </p>
              <hr>

              <!--Ronnoco Coffee  -->

              <a href="http://www.thebeandoctor.com/" target="_blank"><h4 class="emp">Ronnoco Coffee </h4></a>
              <h5> <strong>Date:</strong> From: 09/2009 to: 03/2015</h5>
              <h5> <strong>Supervisor</strong>Bill Gaffie </h5>
              <h5> <strong>Phone:</strong> 314-371-5050</h5>
              <h5>--- Duties ---</h5>
              <p> 
                <ul>
                  <li>Responsible for troubleshooting product for required repairs</li>
                  <li>Maintain and comply with company vehicle maintenance policy and procedures</li>
                  <li>Electronically transferring customer and company information</li>
                  <li>Meets customer demands by providing efficient, responsive and accurate service support.</li>
                  <li>Provide customer training on proper machine operation and maintenance.</li>
                  <li>Obtain signature from customer at the end of the service call or installation.</li>
                  <li>On call every 6 weeks</li>
                  <li>Complete credicard expense reports and daily paper work</li>
                </ul>
              </p>

            </div>

            <div class="info1 col-sm-12 " id="d2">
              <h2 class="title" >Skills</h2>
                <p>
                <hr> 
                  <ul>
                    <li>Excellent customer relations skills</li>
                    <li>General analytical and math skills </li>
                    <li>Effective Communication Skills </li>
                    <li>Independent, High level learning aptitude; Intellectual Curiosity</li>
                    <li>Strong Technology and PC skills, general comfort with technology and ability to learn new systems </li>
                    <li>Knowledge of webding (html, CSS Javascript and more.</li>
                    <li>Ability to multitask and communicate well with individuals of all backgrounds</li>
                    <li>Able to 10-key by touch at a high rate of speed and accuracy </li>
                    <li>Accurate Data Entry ability</li>
                    <li>Hard working able to multi task effectively</li>
                  </ul>
                </p>

            </div>
            <div class="info1 col-sm-12 " id="d3">

              <!-- Education  -->

              <h2 class="title" >Education</h2>
              <a href="http://facpya.uanl.mx/" target="_blank"><h4 class="emp">FAC. OF PUBLIC ACCOUNTING AND ADMINISTRATION</h4></a> 
              <h5> <strong>Mayor</strong> Public Accounting and Auditing</h5>
              <h5> <strong>Date:</strong> From: 06/1984 to: 12/1989</h5>
              <h5> <strong>Phone:</strong> +52 81 8329 4080</h5>
              <hr>
               <a href="https://preparatoria22.uanl.mx/" target="_blank"><h4 class="emp">PREPARATORY SCHOOL N.o 22</h4></a> 
              <h5> <strong>Acquired</strong> High School Diploma</h5>
              <h5> <strong>Date:</strong> From: 06/1982 to: 05/1984</h5>
              <h5> <strong>Phone:</strong> +52 81 8377 0077</h5>
               <hr>
              <a href="https://www.udemy.com/" target="_blank"><h4 class="emp">Udemy</h4></a> 
              <h5> <strong>Couse</strong> WEB DEVELOPER BOOTCAMP</h5>
              <h5> <strong>Date:</strong> From: 06/2018 to: 09/2018</h5>
              <h5> <strong>Acquired</strong>Certificate of Completion</h5>
            </div>
            <div class="info1 col-sm-12 " id="d4">

              <% include partials/coment%> 

            </div>
          </div>
        </div>
      </div>
  </div>  

<% include partials/footer%>